.sidebar-item {
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #E0E0E0;
  cursor: pointer;

  .sidebar-item__label {
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    width: 100%;  
  }
  .sidebar-item__dropdown {
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;  
    &.is--hidden {
      display: none;
    }

    &.is--shown {
      display: flex;
      border-top: 1px solid #E0E0E0;
    }
  }
}
